* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.wrapper{
  font-family:Arial;
  background-color:steelblue;
  display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Opcional: para ocupar toda la pantalla */
	margin: 0 auto;

}
.wrapper h1{
	font-size: 300%;
}
.form{
	background-color: white;
	width: 550px;
	padding: 40px 10px 20px 10px;
	margin: 0 auto;
	border-radius: 4px;
  text-align: center;
}
.save{
	display: block;
	border: none;
	margin: 20px auto;
	width: 280px;
	background-color: mediumseagreen;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	border-radius: 4px;
}
.save:hover{
	background-color: #eaeaea;
}
select{
  background-color: #eaeaea;
  font-size: 1.5em;
  width: 340px;
  height: 45px;
}
select option{
	background-color: #eaeaea;
}
.orden{
	display: inline-flex ;
	margin: auto;
	 
}
.orden input{
	width: 240px;
}

label{
  color: #808080;
}
.hpta1{
	margin-right: 10px;
}
.hpta2{
	margin-left: 10px;
}
legend{
  color: #808080;
}
.descripcion{
	height: 100px;
}

input[type="submit"]{
	display: block;
	border: none;
	margin: 20px auto;
	width: 280px;
	background-color: mediumseagreen;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	border-radius: 4px;
}
input[type="reset"]{
	display: block;
	border: none;
	margin: 20px auto;
	width: 280px;
	background-color: steelblue;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	border-radius: 4px;
}
input[type="file"]{
    display: block;
  	border: none;
	  margin: 20px auto;
    background-color:#ddd;
    padding:15px 0;
    font-family:Arial;
    font-size:16px;
    cursor: pointer;
}
input{
	display: block;
	border: none;
	margin: 20px auto;
	width: 340px;
	background-color: #eaeaea;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	border-radius: 4px;
}


