<div class="wrapper">
	<div class="form" >
			<h1>Create Plan</h1>
			<section id="preguntas">
				<p>
					<label for="name">Name:</label>
					<input #name type="text" name="nombres" id="name">
				</p>
				<p>
					<label for="price">Price ($):</label>
					<input #price type="number" name="price" id="price" inputmode="numeric"  numbersOnly>
				</p>
				<p>
          <div>
            <label for="select">Period:</label> <p></p>
            <select #plan id="select" name="select">
              <option value="Monthly">Monthly</option>
			  <option  value="Quarterly">Quarterly</option>
              <option  value="Biannual">Biannual</option>
              <option  value="Annual">Annual</option>


            </select>
          </div>
		  <p>
			<label for="status">Description:</label>
			<input #desciption type="tel" name="telefono"  id="status" class="descripcion" required="">
		</p>

				<p>
				</p>

			</section>
			<section id="botones">
				<p>
					<button class="save" (click)="createNewPlan(name.value, price.value, plan.value, desciption.value)"> 
						Save
					</button>
				</p>

			</section>
		</div>
<div>