 *{
    padding: 0 0 0;
 }


/* TABLA BIEN */
table {
  width: 60%;
  box-shadow: none;
  background-color: transparent;
  margin-top: 40px;
  margin-left: 150px;
}

th.mat-sort-header-sorted {
  color: black;
}
 /**/
  /* ADMIN PANEL */


  ul, li {
    margin: 0;
    padding: 0;
  }

  .bodywrap {
    font: 100% / 1;
    color: #231f1f;
    font: 400 12px / 1 'Source Sans Pro', Helvetica, Arial, sans-serif;
  }

  .panel-container {
    display: flex;
    background-color: #f4f4f4;
  }

  .panel-controls {
    float: left;
    width: 175px;
    background-color: #000000;
    font-size: 14px;
    padding: 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    transition: width 0.3s;
  }

  .panel-controls li {
    white-space: nowrap;
    padding: 5px 0;
    color: #ffffff;
    font-weight: 300;
    min-height: 50px;
    list-style: none;
    display: table;
    width: 100%;
    text-transform: uppercase;
  }

  .panel-controls li:hover a,
  .panel-controls li.active a,
  .panel-controls li a.clicked {
    color: #18A7E1;
  }

  .panel-controls li.active a .caret {
    display: inline-block;
    color: #18A7E1;
  }

  .panel-controls li a {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    transition: color 0.3s ease;
  }

  .panel-controls li a:active,
  .panel-controls li a:focus,
  .panel-controls li a:focus-visible,
  .panel-controls li a.clicked {
    color: #18A7E1;
  }

  .panel-controls li a .label {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .panel-controls li a i {
    width: 15px;
    margin-right: 10px;
    text-align: center;
  }

  .panel-controls li a .caret {
    display: none;
    font-size: 35px;
    position: absolute;
    left: 165px;
    color: #F1F1F1;
    line-height: 50%;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
  }

  .panel-controls li.nav-control a {
    color: #F1F1F1;
  }

  .panel-controls li.nav-control a i {
    font-size: 20px;
  }

  .panel-controls.collapsed {
    width: 50px;
  }

  .panel-controls.collapsed li a .label {
    opacity: 0;
  }

  .panel-controls.collapsed li a .caret {
    left: 30px;
  }

  .panel-content{
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4; /* Color de fondo gris */
    overflow: auto; /* Permite el scroll si el contenido es muy largo */
  }


  section.panel-content {
    -webkit-transition: margin-left 0.3s;
    -moz-transition: margin-left 0.3s;
    -ms-transition: margin-left 0.3s;
    transition: margin-left 0.3s;

  }

  section.panel-content .main-wrapper {
    height: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  section.panel-content .widget {
    padding: 10px;
  }

  section.panel-content.collapsed {
    margin-left: 40px;
  }




/* BOTON DELETE */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90px;
}

.buttonDelet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(211, 119, 119);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative; /* Changed from absolute to relative */
}

.svgIcon {
  width: 9px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.buttonDelet:hover {
  width: 80px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #e11717;
  align-items: center;
}

.buttonDelet:hover .svgIcon {
  width: 30px;
  transition-duration: 0.3s;
  transform: translateY(55%);
}

.buttonDelet::before {
  position: absolute;
  top: -30px;
  content: "Delete";
  color: white;
  transition-duration: 0.1s;
  font-size: 2px;
}

.buttonDelet:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}
/* BOTON EDIT */
.edit-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #020202;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 13px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(85, 194, 89);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 1px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
/* MENSAJES EMERGENTES */
.bs-callout {
  left: 82%;
  padding: 20px;
  margin: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  position: fixed;
  z-index: 1;

}
  .bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
/* BOTON MENU */

.panel-controls.collapsed li.nav-control i .btn .text {
  color: #000;
display: none;

}
.panel-controls.collapsed li.nav-control i .btn .icon:hover{
  color: #000;
  transition: 0.5 ease-in-out;
  width: 70px;

}
.btn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  display: flex;
  align-items: center;
  background: #000000;
  color: #f5f5f5;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

/* BOTON DE CREAR */

.btnCrear {
  top: 85%; /* Margen inferior relativo al viewport */
  left: 90%;  /* Margen derecho relativo al viewport */
  position: fixed;
  width: 4.5em;
  height: 2.3em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.9em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 1 ease-in-out;

 }

 .btnCrear:hover {
  color: black;
 }

 .btnCrear:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }

 .btnCrear:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
