<div *ngIf="mostrarMensajeExito" class="bs-callout bs-callout-success">
  <h4>Deleted successfully!</h4>
  {{ elementoAEliminar }}
</div>

<div *ngIf="mostrarMensajeError" class="bs-callout bs-callout-danger">
  <h4>Error</h4>
  {{ elementoAEliminar }}
</div>

<div *ngIf="mostrarMensajeExitoEdit" class="bs-callout bs-callout-success">
  <h4>proccess successfully!</h4>
  {{ elementoAEditar }} has been proccesed
</div>

<div *ngIf="mostrarMensajeErrorEdit" class="bs-callout bs-callout-danger">
  <h4>Error</h4>
  {{ elementoAEditar }}
</div>

<div class="bodywrap">

  <div class="panel-container">
<!--  <div>-->

    <div class="panel-controls" [class.collapsed]="!collapsedNav">

      <ul>
        <li class="nav-control" (click)="collapse()">
          <i class="fa fa-bars">
            <button class="btn">
              <span class="icon">
                <svg viewBox="0 0 175 80" width="40" height="40">
                  <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                  <rect
                    y="30"
                    width="80"
                    height="15"
                    fill="#f0f0f0"
                    rx="10"
                  ></rect>
                  <rect
                    y="60"
                    width="80"
                    height="15"
                    fill="#f0f0f0"
                    rx="10"
                  ></rect>
                </svg>
              </span>
              <span class="text">MENU</span>
            </button>
          </i>
        </li>
        <li id="subsli" (click)="changeTab('subscription')">
          <a
          ><i class="fa fa-users"></i><span class="label">Subscriptions</span
          ><i class="fa fa-caret-left caret"></i
          ></a>
        </li>
        <li id="planli" (click)="changeTab('plan')">
          <a
          ><i class="fa fa-archive"></i><span class="label">Plans</span
          ><i class="fa fa-caret-left caret"></i
          ></a>
        </li>
        <li id="periodli" (click)="changeTab('period')">
          <a
          ><i class="fa fa-thumb-tack"></i><span class="label">Periods</span
          ><i class="fa fa-caret-left caret"></i
          ></a>
        </li>
      </ul>
    </div>

    <section class="panel-content" [class.collapsed]="collapsedNav">
      <!-- SUBSCRIPTION TABLE -->
      <ng-container *ngIf="activableTab === 'subscription'">
        <table
          mat-table
          [dataSource]="subscriptionDataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8"
        >
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by name"
            >
              Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.firstName }} {{ element.lastName }}
            </td>
          </ng-container>

          <!-- Plan Column -->
          <ng-container matColumnDef="planName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by plan"
            >
              Plan
            </th>
            <td mat-cell *matCellDef="let element">{{ element.planName }}</td>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="startDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by start date"
            >
              Start date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.startDate | date }}
            </td>
          </ng-container>

          <!-- End Date Column -->
          <ng-container matColumnDef="endDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by end date"
            >
              End date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.endDate | date }}
            </td>
          </ng-container>

          <!-- Period Column -->
          <ng-container matColumnDef="period">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by period"
            >
              Period
            </th>
            <td mat-cell *matCellDef="let element">{{ element.period }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by status"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </ng-container>
      <!-- SUBSCRIPTION TABLE -->

      <!-- PLAN TABLE -->
      <ng-container *ngIf="activableTab === 'plan'">
        <table
          mat-table
          [dataSource]="plansDataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8"
        >
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by name"
            >
              Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Plan Column -->
          <ng-container matColumnDef="price">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by price"
            >
              Price
            </th>
            <td mat-cell *matCellDef="let element">{{ element.price }} USD</td>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="description">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by description"
            >
              Description
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="tdarreglo" mat-cell *matCellDef="let element">
              <div class="button-container">
                <button (click)="editPlan(element)" class="edit-button">
                  <svg class="edit-svgIcon" viewBox="0 0 512 512">
                    <path
                      d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
                    ></path>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="delet">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="tdarreglo" mat-cell *matCellDef="let element">
              <div class="button-container">
                <button
                  (click)="deletPlan(element.id, element.name)"
                  class="buttonDelet"
                >
                  <svg viewBox="0 0 448 512" class="svgIcon">
                    <path
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                    ></path>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>
        </table>
      </ng-container>
      <!-- PLAN TABLE -->

      <!-- PERIOD TABLE -->

      <ng-container *ngIf="activableTab === 'period'">
        <table
          mat-table
          [dataSource]="periodDataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8"
        >
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by name"
            >
              Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- discount Column -->
          <ng-container matColumnDef="discount">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by discount"
            >
              Discount
            </th>
            <td mat-cell *matCellDef="let element">{{ element.discount }} %</td>
          </ng-container>

          <!-- month Column -->
          <ng-container matColumnDef="month">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by month"
            >
              Month
            </th>
            <td mat-cell *matCellDef="let element">{{ element.months }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <!-- edit  -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="tdarreglo" mat-cell *matCellDef="let element">
              <div class="button-container">
                <button (click)="editPeriod(element)" class="edit-button">
                  <svg class="edit-svgIcon" viewBox="0 0 512 512">
                    <path
                      d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
                    ></path>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>
          <!-- delet -->
          <ng-container matColumnDef="delet">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="tdarreglo" mat-cell *matCellDef="let element">
              <div class="button-container">
                <button
                  (click)="deletPeriod(element.id, element.name)"
                  class="buttonDelet"
                >
                  <svg viewBox="0 0 448 512" class="svgIcon">
                    <path
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                    ></path>
                  </svg>
                </button>
              </div>
            </td>
          </ng-container>
        </table>
      </ng-container>
      <!-- PERIOD TABLE -->
    </section>

  </div>

</div>
<button (click)="createany()" id="btnCrear" class="btnCrear"> Crear +
</button>
