body {
  background-color: #b1b1b1;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 550px;
  height: 100%;
  align-content: center;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #333;
  margin-bottom: 10px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.06);
}

.form-group.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 5px;
}

.form-group .form-check-input {
  width: auto;
}

.btn-primary {
  background-color: #111010;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-link {
  color: #18A7E1;
  text-decoration: none;
  cursor: pointer;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
