<!doctype html>
<html>
<head>
  <title>Plan</title>
  <link rel="stylesheet" type="text/css" href="chooseplan.component.css">
</head>
<body style="background-color: #f4f4f4; height: 100vh">
<div class="pricing-table">

  <div class="filter">
    <ng-container *ngFor="let period of periods; let i = index">
      <button class="periodButton">{{ period.name.toUpperCase() }}</button>
    </ng-container>
  </div>


  <ng-container *ngFor="let plan of plans; let i = index">
    <div class="plan">
      <h2>{{ plan.name.toUpperCase() }}</h2>
      <p class="price" id="starter-price">{{ plan.price }}</p>
      <p class="price" id="price-per-month">{{ (planObservables[plan.name] | async)?.price }}</p>

      <ul style="height: 70px">
        <li>{{ plan.description }}</li>
      </ul>
      <button class="subButton">Get started</button>
    </div>
  </ng-container>

</div>
</body>
</html>


