
<head>
  <title>Plan</title>
  <link rel="stylesheet" type="text/css" href="chooseplan.component.css">
</head>
<body>
<div class="pricing-table">

  <div class="filter">
    <button class="subscription-period">asdasdasd</button>
  </div>

  <ng-container *ngFor="let period of periods; let i = index">
  <div class="filter">
    <button class="subscription-period">{{period.name}}</button>
  </div>
  </ng-container>


  <ng-container *ngFor="let plan of plans; let i = index">
  <div class="plan">
    <h2>{{plan.name}}</h2>
    <p class="price" id="starter-price">{{plan.price}}</p>
    <p class="price" id="price-per-month">{{(planObservables[plan.name] | async)?.price}}</p>

    <ul>
      <li>{{plan.description}}</li>
    </ul>
    <button>Get started</button>
  </div>
  </ng-container>

</div>
</body>


