
<div class="bodywrap">
<div class="panel-container">
  <div class="panel-controls" [class.collapsed]="!collapsedNav">
    <ul>
      <li class="nav-control" (click)="collapse()"><a><i class="fa fa-bars"></i></a></li>
      <li (click)="changeTab('subscription')">
        <a><i class="fa fa-users"></i><span class="label">Subscriptions</span><i class="fa fa-caret-left caret"></i></a>
      </li>
      <li (click)="changeTab('plan')">
        <a><i class="fa fa-archive"></i><span class="label">Plans</span><i class="fa fa-caret-left caret"></i></a>
      </li>
      <li (click)="changeTab('period')">
        <a><i class="fa fa-thumb-tack"></i><span class="label">Periods</span><i class="fa fa-caret-left caret"></i></a>
      </li>
    </ul>
  </div>
  
  <section class="panel-content" [class.collapsed]="collapsedNav">
    <!-- SUBSCRIPTION TABLE -->
    <ng-container *ngIf="activableTab === 'subscription'">
      <table mat-table [dataSource]="subscriptionDataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName
          }} {{element.lastName
          }} </td>
        </ng-container>

        <!-- Plan Column -->
        <ng-container matColumnDef="planName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by plan"> Plan </th>
          <td mat-cell *matCellDef="let element"> {{element.planName}} </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by start date"> Start date </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
        </ng-container>

        <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end date"> End date </th>
          <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
        </ng-container>

        <!-- Period Column -->
        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by period"> Period </th>
          <td mat-cell *matCellDef="let element"> {{element.period}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     
    </ng-container>
     <!-- SUBSCRIPTION TABLE -->
      
     <!-- PLAN TABLE -->
    <ng-container *ngIf="activableTab === 'plan'">
      <table mat-table [dataSource]="plansDataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="namePlan">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by namePlan"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Plan Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price"> price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>


      </table>
    </ng-container>
   <!-- PLAN TABLE -->

   <!-- PERIOD TABLE -->

    <ng-container *ngIf="activableTab === 'period'">

      <table mat-table [dataSource]="periodDataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">


 <!-- Name Column -->
 <ng-container matColumnDef="name">
   <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
     Name
   </th>
   <td mat-cell *matCellDef="let element"> {{element.name}} </td>
 </ng-container>

 <!-- Weight Column -->
 <ng-container matColumnDef="discount">
   <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by discount">
     Discount
   </th>
   <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
 </ng-container>

 <!-- Symbol Column -->
 <ng-container matColumnDef="month">
   <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by month">
     Month
   </th>
   <td mat-cell *matCellDef="let element"> {{element.month} </td>
 </ng-container>

 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

    </ng-container>
   <!-- PERIOD TABLE -->

  </section>
  
</div>
</div>

