 @import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
 *{
    padding: 0 0 0;
 }
 
 .rwd-table tr {
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
 }
 .rwd-table th {
   display: none;
 }
 .rwd-table td {
   display: block;
 }
 .rwd-table td:first-child {
   padding-top: 0.5em;
 }
 .rwd-table td:last-child {
   padding-bottom: 0.5em;
 }
 .rwd-table td:before {
   content: attr(data-th) ": ";
   font-weight: bold;
   width: 6.5em;
   display: inline-block;
 }
 @media (min-width: 480px) {
   .rwd-table td:before {
     display: none;
   }
 }
 .rwd-table th,
 .rwd-table td {
   text-align: left;
 }
 @media (min-width: 480px) {
   .rwd-table th,
   .rwd-table td {
     display: table-cell;
     padding: 0.25em 0.5em;
   }
   .rwd-table th:first-child,
   .rwd-table td:first-child {
     padding-left: 0;
   }
   .rwd-table th:last-child,
   .rwd-table td:last-child {
     padding-right: 0;
   }
 }
 
 h1 {
   font-weight: normal;
   letter-spacing: -1px;
   color: #f4f4f4;
 }
 
 .rwd-table {
  flex-direction: column;
  height: 100%;
  width: 80%;

 }
 
 .rwd-table tr {
   border-color: #6d7379;
   background-color: #fff;
   border: 0px solid #ddd;
   margin: 0 10px;
   text-align: center;
   transition: transform 0.3s ease-in-out;
   box-shadow: 0  1px 0 rgba(0,0,0,0.2);
   border-radius: 5px;

 }
 .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
/* TABLA BIEN */
table {
  width: 90%;
  box-shadow: none;
}

th.mat-sort-header-sorted {
  color: black;
}
 /**/
 .rwd-table th,
 .rwd-table td {
   margin: 0.5em 1em;
   padding: 1em !important;
   padding-right: 10em !important; 

 }

 .rwd-table th{}
 @media (max-width: 1200px) {
   .rwd-table th,
   .rwd-table td {  
    padding-right: 0  em !important; 

   }
 }
 .rwd-table th,
 .rwd-table td:before {
   color: rgb(0, 0, 0);
 } 
  /* ADMIN PANEL */
 
  
  ul, li {
    margin: 0;
    padding: 0;
  }
  
  .bodywrap {
    font: 100% / 1;
    color: #231f1f;
    font: 400 12px / 1 'Source Sans Pro', Helvetica, Arial, sans-serif;
  }
  
  .panel-container {
    position: absolute;
    top: 0px;
    bottom: 00px;
    left: 0px;
    right: 0px;
  }
  
  .panel-controls {
    float: left;
    width: 175px;
    background-color: black;
    height: 100%;
    font-size: 14px;
    padding: 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    transition: width 0.3s;
  }
  .panel-controls li {
    white-space: nowrap;
    padding: 5px 0;
    color: #F1F1F1;
    font-weight: 300;
    min-height: 50px;
    list-style: none;
    display: table;
    width: 100%;
    text-transform: uppercase;
  }
  .panel-controls li:hover a, .panel-controls li.active a {
    color: #18A7E1;
  }
  .panel-controls li.active a .caret {
    display: inline-block;
  }
  .panel-controls li a {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
  }
  .panel-controls li a .label {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .panel-controls li a i {
    width: 15px;
    margin-right: 10px;
    text-align: center;
  }
  .panel-controls li a .caret {
    display: none;
    font-size: 35px;
    position: absolute;
    left: 165px;
    color: #F1F1F1;
    line-height: 50%;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
  }
  .panel-controls li.nav-control a {
    color: #F1F1F1;
  }
  .panel-controls li.nav-control a i {
    font-size: 20px;
  }
  .panel-controls.collapsed {
    width: 50px;
  }
  .panel-controls.collapsed li a .label {
    opacity: 0;
  }
  .panel-controls.collapsed li a .caret {
    left: 30px;
  }
  
  section.panel-content {
    height: 100%;
    -webkit-transition: margin-left 0.3s;
    -moz-transition: margin-left 0.3s;
    -ms-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
  }
  section.panel-content .main-wrapper {
    background-color: #F1F1F1;
    height: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  section.panel-content .widget {
    padding: 10px;
  }
  section.panel-content.collapsed {
    margin-left: 40px;
  }









