body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.tittle{
  padding: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pricing-table {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

.pricing-table .plan {
  width: calc(190px);
  margin: 10px;
}

.filter button {
  background-color: #dcdcdc;
  color: #333;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.filter button:hover, .filter button.active {
  background-color: #111010;
  color: #fff;
}

.wrapper {
  width: 150px;
  height: 60px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #bbb6b6;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.plans {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plan {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 300px;
  height: 360px;
}

.plan:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.plan h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 30px;
  color: #1491c5;
}

.plan .price {
  font-size: 26px;
  color: #333;
  margin: 20px 0;
}

.plan ul {
  list-style: none;
  padding: 0;
}

.plan ul li {
  padding: 5px 0;
  border-top: 1px solid #eee;
}

.button {
  background-color: #111010;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

.periodButton:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.subButton:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
