<!doctype html>

<html>

<head>
  <title>Plan</title>
  <link rel="stylesheet" type="text/css" href="usersub.component.css">
</head>

<body style="background-color: #f4f4f4; height: 100%">

<h2 class="tittle">YOUR PLAN</h2>

<div class="pricing-table">

  <div class="plan">

    <h2>{{ plan.name.toUpperCase() }}</h2>

    <p class="price">${{ getAmount() | number:'1.2-2' }}</p>

    <p>${{ getDiscountedPrice() }}/Month</p>

    <ul style="height: 70px">
      <li>{{ plan.description }}</li>
    </ul>

    <p>{{ subscription.startDate | date: 'MMM d, y' }} - {{ subscription.endDate | date: 'MMM d, y' }}</p>

    <button class="button" (click)="goBack()">Choose another plan</button>

  </div>

</div>

<div style="display: flex; align-items: center; justify-content: center">
  <button class="button" (click)="cancelSubscription(subscription.id)">Cancel my Subscription</button>
</div>

</body>

</html>



